@import "../variables.scss";
.home-page {
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 100vh;

	background: $white;
	.hidemobile {
		@include responsive {
			display: none;
		}
	}
	.hidedesktop {
		display: none;
		color: #606060 !important;
		@include responsive {
		}
	}
	.form-title {
		display: none;
		@include responsive {
			display: inherit;
		}
	}
	.form-title {
		padding: 1em;
		h1 {
			text-align: right;
			margin-bottom: 0 !important;
			line-height: 0.9 !important;
			color: white;
			font-family: futura-pt, sans-serif;
			font-weight: 300;
			font-size: 2em;
			color: #606060 !important;
		}
	}
	.header-text {
		position: fixed;
		max-width: 1920px;
		width: 100%;
		top: 30%;
		text-align: right;
		color: white;
		/* left: 10%; */
		padding: 2em;
		z-index: 303;
		h1 {
			margin-bottom: 0 !important;
			line-height: 0.9 !important;
			color: white;
			font-family: futura-pt, sans-serif;
			font-weight: 300;
			font-size: 2.85em;
		}
	}
	.building-row {
		background: $white;
		z-index: 303;
		height: 100%;
	}
	.mainContent {
		top: 0px;
		position: fixed;
		width: 100%;
		max-width: 1920px;
		z-index: 20;
		background: $white;
	}
	.main-content-relative {
		height: 100%;
		top: 0;
		position: relative !important;
	}
	.row-section {
		padding: 0;
		@include mobile {
			padding: 10px;
		}
		@include tablet {
			padding: 30px;
		}
	}

	.image-col-with-text {
		width: 80%;
		@include responsive {
			width: 100% !important;
		}
	}
	.image-col-description {
		width: 20%;
		p {
			font-size: 1.8em;
			margin-bottom: 0px;
		}
		@include mobile {
			width: 100%;
			p {
				font-size: 1.4em;
				margin: 10px 0 10px;
				width: 95%;
				float: right;
			}
		}
		@include tablet {
			width: 100%;
			p {
				font-size: 1.8em;
				margin: 10px 0 10px;
				width: 80%;
				float: right;
			}
		}
	}
	.image-description-right {
		text-align: right;
	}
}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
	padding-left: 15px !important;
}
